<%= form_with(model: [deck, card], class: "bg-white shadow-md rounded-lg p-8") do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="mb-6">
    <%= form.label :question, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :question, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{'border-red-400' if card.errors.include?(:question)}", rows: 4, autofocus: true %>
  </div>

  <div class="mb-6">
    <%= form.label :answer, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :answer, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{'border-red-400' if card.errors.include?(:answer)}", rows: 4 %>
  </div>

  <%= form.submit class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-colors cursor-pointer" %>
<% end %>
