<div id="<%= dom_id deck %>" class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
  <span class="font-semibold text-lg text-gray-800"><%= deck.name %></span>
  <div class="flex items-center space-x-2">
    <% if deck.cards.any? %>
      <%= button_to t('common.start_study'), deck_study_sessions_path(deck), method: :post, class: "btn btn-sm btn-primary" %>
    <% end %>
    <%= link_to t('helpers.links.show'), deck, class: "btn btn-sm btn-secondary" %>
    <%= link_to t('helpers.links.edit'), edit_deck_path(deck), class: "btn btn-sm btn-accent" %>
    <%= button_to t('helpers.links.destroy'), deck, method: :delete, data: { turbo_confirm: t('helpers.confirmations.destroy') }, class: "btn btn-sm btn-error" %>
  </div>
</div>